@page "/login"

<h1>Login</h1>

<form method="post" action="/account/login">
    <div class="mb-2">
        <input name="UserName" placeholder="Username" class="form-control" />
    </div>
    <div class="mb-3">
        <input name="Password" placeholder="Password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>


