@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider


<nav class="navbar navbar-expand-lg library-navbar">
    <div class="container-fluid">
        <a class="navbar-brand library-title" href="">BoardGameMondays</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="counter">Counter</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="weather">Weather</NavLink>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    @* Authentication UI *@
                    <AuthorizeView Context="authState">
                        <Authorized>
                            <span class="nav-link">@authState.User.Identity?.Name</span>
                            <button class="nav-link btn btn-link" @onclick="Logout">Logout</button>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink class="nav-link" href="login">Login</NavLink>
                        </NotAuthorized>
                    </AuthorizeView>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private async Task Logout()
    {
        if (AuthStateProvider is BoardGameMondays.Core.SimpleAuthStateProvider simple)
        {
            await simple.MarkUserAsLoggedOut();
        }
    }
}

